{% extends "base_generic.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.user_profile.image.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ student.student_user.site_user.username }}</h2>
              <p class="text-secondary">{{ student.student_user.site_user.email }}</p>
            </div>
          </div>
        <p>This is the student detail page</p>
        <p>First Name: {{ student.student_user.site_user.first_name }}</p>
        <p>Last Name: {{ student.student_user.site_user.last_name }}</p>
        <p>Register Date: {{ student.student_user.site_user.date_joined }}</p>
        {% if student.advisor_teacher %}
            <p>Advisor: <a href="{% url 'school:teacher_detail' student.advisor_teacher.id %}">{{ student.advisor_teacher.teacher_user.username }}</a></p>
        {% else %}
            <p>No Advisor detected: Check with school to update</p>
        {% endif %}
    </div>
{% endblock %}
